@font-face {
  font-family: "sidewalk";
  src: url('../fonts/sidewalk-webfont.eot');
  src: url('../fonts/sidewalk-webfont.eot?iefix') format('eot'), url('../fonts/sidewalk-webfont.woff') format('woff'), url('../fonts/sidewalk-webfont.ttf') format('truetype'), url('../fonts/sidewalk-webfont.svg#sidewalk') format('svgm'), url('../fonts/sidewalk-webfont.eot?#iefix') format('embedded-opentype');
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx10 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 89%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx10:last-child {
  width: 9%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx20 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 79%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx20:last-child {
  width: 19%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx30 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 69%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx30:last-child {
  width: 29%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx40 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 59%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx40:last-child {
  width: 39%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx50 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 49%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx50:last-child {
  width: 49%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx60 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 39%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx60:last-child {
  width: 59%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx70 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 29%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx70:last-child {
  width: 69%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx80 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 19%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx80:last-child {
  width: 79%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 50, ../../sass/lagden/mixin.scss */
.fx90 {
  display: inline;
  float: left;
  margin-right: 1%;
  width: 9%;
}
/* line 55, ../../sass/lagden/mixin.scss */
.fx90:last-child {
  width: 89%;
  margin-right: 0;
  margin-left: 1%;
}

/* line 64, ../../sass/lagden/mixin.scss */
.zebraNaTabela {
  width: 100%;
  margin: 1em 0;
  font-size: .8em;
}
/* line 69, ../../sass/lagden/mixin.scss */
.zebraNaTabela tr:nth-child(2n+1) {
  background: #e1e1e1;
  color: #333;
}
/* line 73, ../../sass/lagden/mixin.scss */
.zebraNaTabela tr:hover {
  background: #fde3ab;
  color: #333;
}
/* line 77, ../../sass/lagden/mixin.scss */
.zebraNaTabela tr td {
  width: 50%;
  padding: .5em;
  text-align: left;
}
/* line 81, ../../sass/lagden/mixin.scss */
.zebraNaTabela tr td:last-child {
  text-align: right;
}
/* line 84, ../../sass/lagden/mixin.scss */
.zebraNaTabela tr td a {
  text-decoration: none;
  color: #333333;
}
/* line 4, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.zebraNaTabela tr td a:hover {
  text-decoration: underline;
}

/* line 92, ../../sass/lagden/mixin.scss */
.linkDefaultWhite {
  text-decoration: none;
  color: white;
}
/* line 4, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.linkDefaultWhite:hover {
  text-decoration: underline;
}
/* line 18, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.linkDefaultWhite:visited {
  color: white;
}
/* line 24, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.linkDefaultWhite:hover {
  color: #f28510;
}
/* line 27, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.linkDefaultWhite:active {
  color: white;
}

/* line 97, ../../sass/lagden/mixin.scss */
.linkDefaultBlack {
  text-decoration: none;
  color: #f28510;
}
/* line 4, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.linkDefaultBlack:hover {
  text-decoration: underline;
}
/* line 18, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.linkDefaultBlack:visited {
  color: #333333;
}
/* line 24, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.linkDefaultBlack:hover {
  color: #f28510;
}
/* line 27, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.linkDefaultBlack:active {
  color: #333333;
}

/* line 3, ../../sass/lagden/glass.scss */
.glass {
  border: 0;
  background: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.45s;
  -webkit-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
}
/* line 9, ../../sass/lagden/glass.scss */
.glass:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
}
/* line 20, ../../sass/lagden/glass.scss */
.glass.selected {
  color: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
}
/* line 30, ../../sass/lagden/glass.scss */
.glass.orange {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  color: #FFF;
  background-color: rgba(248, 181, 0, 0.7);
  -moz-box-shadow: 0 2px 6px rgba(244, 183, 78, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(244, 183, 78, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(244, 183, 78, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  box-shadow: 0 2px 6px rgba(244, 183, 78, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
}
/* line 41, ../../sass/lagden/glass.scss */
.glass.orange:hover {
  background-color: #f8b500;
}
/* line 45, ../../sass/lagden/glass.scss */
.glass.button:active {
  position: relative;
  top: 1px;
}

/* line 9, ../../sass/lagden/interface.scss */
.form_estiloso, .frm textarea, .frm input[type=file], .frm input[type=text], .frm input[type=email], .frm input[type=url], .frm input[type=tel], .frm input[type=password] {
  margin: 0;
  padding: .5em;
  border: thin solid #c9c9c9;
  outline: 0;
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
}

/* line 22, ../../sass/lagden/interface.scss */
.form_estiloso_focus, .frm textarea:focus, .frm input[type=file]:focus, .frm input[type=text]:focus, .frm input[type=email]:focus, .frm input[type=url]:focus, .frm input[type=tel]:focus, .frm input[type=password]:focus {
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE5E5E5');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
}

/* line 28, ../../sass/lagden/interface.scss */
.form_estiloso_disabled, .frm textarea:disabled, .frm select:disabled, .frm button:disabled, .frm input[type=file]:disabled, .frm input[type=text]:disabled, .frm input[type=email]:disabled, .frm input[type=url]:disabled, .frm input[type=tel]:disabled, .frm input[type=password]:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5000);
  opacity: 50;
}

/* line 69, ../../sass/lagden/interface.scss */
div.pagination {
  text-align: center;
  color: #333333;
  background: none;
}
/* line 73, ../../sass/lagden/interface.scss */
div.pagination span {
  display: none;
}
/* line 76, ../../sass/lagden/interface.scss */
div.pagination .next, div.pagination .prior {
  background: #ffb742;
  color: #FFF;
}
/* line 80, ../../sass/lagden/interface.scss */
div.pagination button.paginacaoUI {
  background-color: #dddddd;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.45s;
  -webkit-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  padding: .3em;
  margin-right: .25em;
  width: 2em;
  height: 2em;
  border: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
/* line 90, ../../sass/lagden/interface.scss */
div.pagination button.paginacaoUI:hover {
  background-color: #f28510;
  color: #FFF;
}
/* line 95, ../../sass/lagden/interface.scss */
div.pagination button.paginacaoUI:first-child, div.pagination button.paginacaoUI:last-child {
  width: auto;
}
/* line 99, ../../sass/lagden/interface.scss */
div.pagination button.paginacaoSelecionado {
  color: #f28510;
  background-color: inherit;
}
/* line 100, ../../sass/lagden/interface.scss */
div.pagination .paginacaoDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=4000);
  opacity: 40;
}

/* line 105, ../../sass/lagden/interface.scss */
#accordionFormResult > h2 {
  cursor: pointer;
  font-size: 1.1em;
  margin: .5em 0;
  padding: .5em;
  border: 1px solid #f8b500;
}
/* line 111, ../../sass/lagden/interface.scss */
#accordionFormResult > h2.ativo {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  color: #000;
  background: none;
  border: 1px solid #dddddd;
}
/* line 125, ../../sass/lagden/interface.scss */
#accordionFormResult > div.content > div {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  padding: 1em;
  margin: .5em 0;
}

/* line 135, ../../sass/lagden/interface.scss */
div.toolTip {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  max-width: 18em;
  padding: .5em;
  z-index: 999;
}
/* line 143, ../../sass/lagden/interface.scss */
div.toolTip div.tip-title {
  font-height: normal;
  color: #FFF;
  padding: 0;
  font-size: .9em;
  line-height: 1.2em;
}
/* line 151, ../../sass/lagden/interface.scss */
div.toolTip div.tip-text {
  display: none;
}

/* line 156, ../../sass/lagden/interface.scss */
.plupload > .plupload_header {
  display: none;
}
/* line 168, ../../sass/lagden/interface.scss */
.plupload .plupload_filelist_header {
  background-color: #eeeeee;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -khtml-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 173, ../../sass/lagden/interface.scss */
.plupload .plupload_filelist_header > div {
  font-size: 1.3em;
}
/* line 178, ../../sass/lagden/interface.scss */
.plupload .plupload_filelist_footer {
  background-color: #eeeeee;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -khtml-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  padding: 2em;
}
/* line 184, ../../sass/lagden/interface.scss */
.plupload .plupload_filelist_footer > div {
  font-size: 1.3em;
}
