@font-face {
  font-family: "sidewalk";
  src: url('../fonts/sidewalk-webfont.eot');
  src: url('../fonts/sidewalk-webfont.eot?iefix') format('eot'), url('../fonts/sidewalk-webfont.woff') format('woff'), url('../fonts/sidewalk-webfont.ttf') format('truetype'), url('../fonts/sidewalk-webfont.svg#sidewalk') format('svgm'), url('../fonts/sidewalk-webfont.eot?#iefix') format('embedded-opentype');
}

/* line 5, ../../sass/lagden/interface.scss */
div.toolTip {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  max-width: 18em;
  padding: .5em;
  z-index: 999;
}
/* line 13, ../../sass/lagden/interface.scss */
div.toolTip div.tip-title {
  font-height: normal;
  color: #FFF;
  padding: 0;
  font-size: .9em;
  line-height: 1.2em;
}
/* line 21, ../../sass/lagden/interface.scss */
div.toolTip div.tip-text {
  display: none;
}

/* line 25, ../../sass/lagden/interface.scss */
.tabs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
/* line 31, ../../sass/lagden/interface.scss */
.tabs:before, .tabs:after {
  display: table;
  content: "";
  zoom: 1;
}
/* line 36, ../../sass/lagden/interface.scss */
.tabs:after {
  clear: both;
}
/* line 37, ../../sass/lagden/interface.scss */
.tabs > li {
  float: left;
  position: relative;
  cursor: pointer;
}
/* line 41, ../../sass/lagden/interface.scss */
.tabs > li > a {
  display: block;
  padding: 0 15px;
  margin-right: 2px;
  line-height: 34px;
  text-decoration: none;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #f28510;
}
/* line 24, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.tabs > li > a:hover {
  color: #333333;
}
/* line 49, ../../sass/lagden/interface.scss */
.tabs > li > a:hover {
  text-decoration: none;
  background-color: #ddd;
}
/* line 56, ../../sass/lagden/interface.scss */
.tabs > li.active > a {
  background-color: #fff;
}
/* line 58, ../../sass/lagden/interface.scss */
.tabs > li.active > a:hover {
  text-decoration: none;
  color: #f28510;
}
/* line 24, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.tabs > li.active > a:hover:hover {
  color: #333333;
}

/* line 67, ../../sass/lagden/interface.scss */
.tab-content > .tab-pane, .tab-content > div {
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -o-border-radius: 0 5px 5px 5px;
  -ms-border-radius: 0 5px 5px 5px;
  -khtml-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  padding: .5em;
  background: #FFF;
  display: none;
}
/* line 73, ../../sass/lagden/interface.scss */
.tab-content > .active {
  display: block;
}
