@font-face {
  font-family: "sidewalk";
  src: url('../fonts/sidewalk-webfont.eot');
  src: url('../fonts/sidewalk-webfont.eot?iefix') format('eot'), url('../fonts/sidewalk-webfont.woff') format('woff'), url('../fonts/sidewalk-webfont.ttf') format('truetype'), url('../fonts/sidewalk-webfont.svg#sidewalk') format('svgm'), url('../fonts/sidewalk-webfont.eot?#iefix') format('embedded-opentype');
}

/* line 5, ../../sass/lagden/site.scss */
body {
  position: relative;
  background-color: #D6D1C8;
  color: #333333;
  font-size: 100%/1.5;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 11, ../../sass/lagden/site.scss */
body > header {
  background-color: #363636;
  padding: 1em;
}
/* line 14, ../../sass/lagden/site.scss */
body > header hgroup {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 17, ../../sass/lagden/site.scss */
body > header hgroup h2 {
  color: white;
}
/* line 20, ../../sass/lagden/site.scss */
body > nav {
  -moz-box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  border-top: 5px solid #FFF;
  border-bottom: 2px solid #FFF;
  position: relative;
  z-index: 1;
  padding-bottom: 69px;
  background-color: #ffd547;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFD547', endColorstr='#FFFFAC00');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd547), color-stop(100%, #ffac00));
  background-image: -webkit-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: -moz-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: -o-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: -ms-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: linear-gradient(top, #ffd547 0%, #ffac00 100%);
}
/* line 30, ../../sass/lagden/site.scss */
body > nav .wrapper {
  position: relative;
  padding: 1em;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 34, ../../sass/lagden/site.scss */
body > nav .wrapper img {
  display: inline-block;
  vertical-align: middle;
  padding: .5em;
}
/* line 39, ../../sass/lagden/site.scss */
body > nav .wrapper ul.menu {
  vertical-align: middle;
  display: inline-block;
  list-style: none;
}
/* line 43, ../../sass/lagden/site.scss */
body > nav .wrapper ul.menu li {
  width: 140px;
  float: left;
  display: inline;
  font-size: .8em;
  margin: 0;
  margin-right: 20px;
}
/* line 50, ../../sass/lagden/site.scss */
body > nav .wrapper ul.menu li:last-child {
  margin-right: 0;
}
/* line 53, ../../sass/lagden/site.scss */
body > nav .wrapper ul.menu li a {
  padding: 0.6em 0.7em 0.6em 0.7em;
  border: 1px solid transparent;
  font-weight: bold;
  display: block;
  float: left;
  color: #5a5a5a;
  text-decoration: none;
  outline: none;
}
/* line 68, ../../sass/lagden/site.scss */
body > .container {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1;
  position: relative;
  z-index: 2;
  top: -69px;
  padding: 20px 10px 20px 20px;
}
/* line 78, ../../sass/lagden/site.scss */
body > footer {
  background: #111;
  border-top: 1px solid #ccc;
  -moz-box-shadow: 0 4em 3em 3.5em #111111;
  -webkit-box-shadow: 0 4em 3em 3.5em #111111;
  -o-box-shadow: 0 4em 3em 3.5em #111111;
  box-shadow: 0 4em 3em 3.5em #111111;
  color: #ccc;
  padding: 3em 0;
}
/* line 85, ../../sass/lagden/site.scss */
body > footer .wrapper p {
  line-height: normal;
}
/* line 90, ../../sass/lagden/site.scss */
body > footer .meta p {
  border-top: 1px dashed #333;
  padding-top: .5em;
  margin-bottom: .5em;
}
/* line 94, ../../sass/lagden/site.scss */
body > footer .meta p:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 99, ../../sass/lagden/site.scss */
body > footer .meta a {
  color: #cc0000;
}
/* line 24, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body > footer .meta a:hover {
  color: #333333;
}

/* line 105, ../../sass/lagden/site.scss */
.listing {
  position: relative;
}
/* line 107, ../../sass/lagden/site.scss */
.listing > article {
  background-color: #f1f1f1;
  margin-bottom: 45px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 300px;
}
/* line 147, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .listing > article {
  overflow-x: hidden;
}
/* line 111, ../../sass/lagden/site.scss */
.listing > article:nth-child(3n) {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 147, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .listing > article:nth-child(3n) {
  overflow-x: hidden;
}
/* line 114, ../../sass/lagden/site.scss */
.listing > article:nth-of-type(3n+1) {
  clear: left;
}
/* line 117, ../../sass/lagden/site.scss */
.listing > article .efeito {
  width: 240px;
  border: 3px solid #FFF;
  margin: 0 auto;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -o-border-radius: 0 0 0.5em 0.5em;
  -ms-border-radius: 0 0 0.5em 0.5em;
  -khtml-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}
/* line 123, ../../sass/lagden/site.scss */
.listing > article .efeito > table {
  width: 100%;
  margin: 1em 0;
  font-size: .8em;
}
/* line 128, ../../sass/lagden/site.scss */
.listing > article .efeito > table tr:nth-child(2n+1) {
  background: #e1e1e1;
  color: #333;
}
/* line 132, ../../sass/lagden/site.scss */
.listing > article .efeito > table tr:hover {
  background: #fde3ab;
  color: #333;
}
/* line 136, ../../sass/lagden/site.scss */
.listing > article .efeito > table tr td {
  width: 46%;
  padding: 2%;
  text-align: left;
}
/* line 140, ../../sass/lagden/site.scss */
.listing > article .efeito > table tr td:last-child {
  text-align: right;
}
/* line 143, ../../sass/lagden/site.scss */
.listing > article .efeito > table tr td a {
  text-decoration: none;
  color: #333333;
}
/* line 4, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.listing > article .efeito > table tr td a:hover {
  text-decoration: underline;
}
/* line 151, ../../sass/lagden/site.scss */
.listing > article .efeito header h3 {
  color: #FFF;
  font-size: .9em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: .5em;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #FB0;
}
/* line 159, ../../sass/lagden/site.scss */
.listing > article .efeito header h3 a {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
  color: white;
  display: block;
}
/* line 4, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.listing > article .efeito header h3 a:hover {
  text-decoration: underline;
}
/* line 166, ../../sass/lagden/site.scss */
.listing > article .efeito header p {
  font-size: .8em;
  background-color: #EEE0C3;
  color: #333333;
  padding: 1em .5em;
}
/* line 171, ../../sass/lagden/site.scss */
.listing > article .efeito header p a {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #333333;
  display: block;
}
/* line 4, ../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.listing > article .efeito header p a:hover {
  text-decoration: underline;
}
/* line 179, ../../sass/lagden/site.scss */
.listing > article .efeito footer {
  text-align: center;
  margin: 1.5em 0;
}
/* line 182, ../../sass/lagden/site.scss */
.listing > article .efeito footer a {
  padding: 0.6em 0.7em 0.6em 0.7em;
  border: 1px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}

/* line 198, ../../sass/lagden/site.scss */
.frmBusca {
  font-size: .9em;
}
/* line 200, ../../sass/lagden/site.scss */
.frmBusca ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 207, ../../sass/lagden/site.scss */
.frmBusca ul li input[type=text],
.frmBusca ul li select {
  width: 90%;
  padding: .5em;
}
/* line 214, ../../sass/lagden/site.scss */
.frmBusca > ul > li {
  margin: 0;
  padding: .25em;
  position: relative;
}
/* line 218, ../../sass/lagden/site.scss */
.frmBusca > ul > li > label {
  font-size: .9em;
  display: block;
  margin-bottom: .3em;
  font-weight: bold;
}
/* line 224, ../../sass/lagden/site.scss */
.frmBusca > ul > li .btn, body > nav .wrapper ul.menu .frmBusca > ul > li a {
  border-style: none;
}
/* line 229, ../../sass/lagden/site.scss */
.frmBusca > ul ul.radio_list li {
  float: left;
  padding: .5em;
  margin: 0;
}
/* line 233, ../../sass/lagden/site.scss */
.frmBusca > ul ul.radio_list li label {
  font-size: .9em;
}
/* line 239, ../../sass/lagden/site.scss */
.frmBusca > ul ul.checkbox_list li {
  float: left;
  width: 48%;
  padding: 1%;
  margin: 0;
}

/* line 249, ../../sass/lagden/site.scss */
#bairros_inline {
  font-size: .8em;
  display: none;
}
/* line 253, ../../sass/lagden/site.scss */
#bairros_inline ul.checkbox_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 258, ../../sass/lagden/site.scss */
#bairros_inline ul.checkbox_list li {
  float: left;
  width: 48%;
  padding: 1%;
  margin: 0;
}
