@import 'stick/function'
@import 'stick/mixin'

// normalize-html5()
// normalize-base()
// normalize-links()
// normalize-text()
// normalize-embed()
// normalize-groups()

// normalize-tables()
normalize-forms()
normalize-css()

// edit()

$cores = {
  fundo: #2c2c2c,
  bloco: #414141,
  footer: #3F3F3F,
  form: #666,
  fonte: #ABABAB
  sol: #F9AE1C
  white: #FFF
  black: #000
}

$menuSize = 200

@import 'component/form'
@import 'component/badge'
@import 'component/media'
@import 'component/burger'
@import 'component/menu'
@import 'component/button-group'
@import 'component/consulta'
@import 'component/slider'
@import 'component/galery'

html
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  color: $cores.fonte
  background-color: $cores.fundo

a
  unstyledLink()

.pad-30
  padding 30px

.gs
  center(960px, 10px)
  box-sizing border-box
  cf()
  &.gs--flex
    display flex
    flex-wrap wrap

.icon
  display: inline-block
  width: 3em
  height: 3em
  vertical-align middle
  button > &
    fill: #FFF
  & + span
    display: block
    margin 5px

.icon--btn
  display: inline-block
  width: 1.1em
  height: 1.1em
  vertical-align middle
  button > &
    fill: #FFF

.bloco
  margin 30px 0
  padding 20px 0
  background-color: $cores.bloco
