@import 'stick/function'
@import 'stick/mixin'
@import 'stick/vars'

// normalize-html5()
// normalize-base()
// normalize-links()
// normalize-text()
// normalize-embed()
// normalize-groups()

// normalize-tables()
normalize-forms()
normalize-css()

// edit()

$cores = {
  fundo: #2c2c2c
  bloco: #414141
  footer: #3F3F3F
  form: #666
  border: #555
  fonte: #ABABAB
  sol: #F9AE1C
  white: #FFF
  black: #000
  light: #E1E1E1
  bebe: #D6D1C8
  burn: #BB7658
  green: #DFE9BA
  wire: #FFCC00
}

$menuSize = 200

@import 'component/lightbox'
@import 'component/modal'
@import 'component/growl'
@import 'component/form'
@import 'component/media'
@import 'component/burger'
@import 'component/menu'
@import 'component/button-group'
@import 'component/consulta'
@import 'component/slider'
@import 'component/galery'
@import 'component/pagina'
@import 'component/estate-list'
@import 'component/estate'
