@import "compass";
@import "lagden/mixin";
@import "lagden/glass";

$sitecolor: $orange;
$bRadius: 7px;

.form_estiloso
{
    margin:0;
    padding:.5em;
    border:thin solid #c9c9c9;
    outline:0;
    @include box-shadow(0 0 1em rgba(0,0,0, 0.1));
    @include border-radius(.5em);

    background-color: rgb(255,255,255);
    @include filter-gradient(#ffffff, #ededed, vertical);
    @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%));
}

.form_estiloso_focus{
    background-color: rgb(255,255,255);
    @include filter-gradient(#ffffff, #e5e5e5, vertical);
    @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%));
}

.form_estiloso_disabled{
    @include opacity(50);
}

.frm{
    textarea{
        @extend .form_estiloso;
        &:focus{ @extend .form_estiloso_focus; }
        &:disabled{ @extend .form_estiloso_disabled; };
    }

    select,
    button{
        &:disabled{ @extend .form_estiloso_disabled; };
    }

    input{
        &[type=file],
        &[type=text],
        &[type=email],
        &[type=url],
        &[type=tel],
        &[type=password]{ @extend .form_estiloso; }

        &[type=file]:focus,
        &[type=text]:focus,
        &[type=email]:focus,
        &[type=url]:focus,
        &[type=tel]:focus,
        &[type=password]:focus{ @extend .form_estiloso_focus; }

        &[type=file]:disabled,
        &[type=text]:disabled,
        &[type=email]:disabled,
        &[type=url]:disabled,
        &[type=tel]:disabled,
        &[type=password]:focus{ @extend .form_estiloso_disabled; }
    }
}

// Pagination
div.pagination{
    text-align:center;
    color:$mainColor;
    background:none;
    span{
        display:none;
    }
    .next, .prior{
        background:$sitecolor + 50;
        color:#FFF;
    }
    button.paginacaoUI{
        background-color:$mainColor + 170;
        @include transition-property(background-color);
        @include transition-duration(.45s);
        padding:.3em;
        margin-right:.25em;
        width:2em;
        height:2em;
        border:0;
        @include border-radius($bRadius);
        &:hover{
            background-color:$sitecolor;
            color:#FFF;
        }
        &:first-child,
        &:last-child{
            width:auto;
        }
    }
    button.paginacaoSelecionado{color:$sitecolor;background-color:inherit}
    .paginacaoDisabled{ @include opacity(40); }
}

// Accordion
#accordionFormResult{
    > h2{
        cursor:pointer;
        font-size:1.1em;
        margin:.5em 0;
        padding:.5em;
        border: 1px solid rgb(248, 181, 0);
        &.ativo{
            @include box-shadow(
            0 2px 6px rgba(0,0,0,.2),
            inset 0 1px rgba(255,255,255,.3),
            inset 0 10px rgba(255,255,255,.2),
            inset 0 10px 20px rgba(255,255,255,.25),
            inset 0 -15px 30px rgba(0,0,0,.1)
            );
            color:#000;
            background:none;
            border: 1px solid rgb(221, 221, 221);
        }
    }
    > div.content{
        > div{
            @include border-radius(4px);
            background-color:#FFF;
            padding:1em;
            margin:.5em 0;
        }
    }
}

// ToolTip
div.toolTip{
    @include filter-gradient(#000000, #000000, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%));
    @include border-radius(.5em);
    max-width:18em;
    padding:.5em;
    z-index: 999;
    // title="titulo"
    div.tip-title{
        font-height:normal;
        color:#FFF;
        padding:0;
        font-size:.9em;
        line-height:1.2em;
    }
    // rel="conteudo do box"
    div.tip-text{ display:none; }
}