@import "compass";
@import "lagden/mixin";

body{
    position:relative;
    background-color: #D6D1C8;
    color: $mainColor;
    font-size: #{$fontsize};
    @include fontfamily;
    > header{
        background-color: $darkgray;
        padding:1em;
        hgroup{
            @include media960;
            h1{ @extend .clear; }
            h2{ color:white; }
        }
    }
    > nav{
        @include box-shadow(inset 0px -5px 20px 0px rgba(0, 0, 0, .2));
        border-top:5px solid #FFF;
        border-bottom:2px solid #FFF;
        position:relative;
        z-index:1;
        padding-bottom: $navContainer;
        background-color: #ffd547; // Old browsers
        @include filter-gradient(#ffd547, #ffac00, vertical); // IE6-9
        @include background-image(linear-gradient(top,  #ffd547 0%,#ffac00 100%));
        .wrapper{
            position:relative;
            padding:1em;
            @include media960;
            img{
                display:inline-block;
                vertical-align:middle;
                padding:.5em;
            }
            ul.menu{
//                position:absolute;
//                right:20px;
                vertical-align:middle;
                display:inline-block;
                list-style: none;
                li{
                    width:140px;
                    float:left;
                    display:inline;
                    font-size:.8em;
                    margin:0;
                    margin-right:20px;
                    &:last-child{
                        margin-right:0;
                    }
                    a{
                        @extend .btn;
                        padding:0.6em 0.7em 0.6em 0.7em;
//                        text-shadow:0px 1px 0px white;
                        border:1px solid transparent;
                        @include border-radius(4px);
                        
                        font-weight: bold;
                        display: block;
                        float:left;
                        
                        color:#5a5a5a;
                        text-decoration:none;
                        outline:none;
                    }
                }
            }
        }
    }
    > .container{
        @include border-radius(.5em);
        @include single-box-shadow(rgba(0, 0, 0, .5), 0, 0px, 10px);
        background-color:#f1f1f1;
        position:relative;
        z-index:2;
        top:-$navContainer;
    }
    
    > footer{
        background: #111;
        border-top: 1px solid #ccc;
        @include single-box-shadow(#111, 0, 4em, 3em, 3.5em);
        color: #ccc;
        padding: 3em 0;
        .wrapper{
            p{
                line-height:normal;
            }
        }
        .meta{
            p{
                border-top: 1px dashed #333;
                padding-top: .5em;
                margin-bottom: .5em;
                &:first-child{
                    border-top: none;
                    padding-top: 0;
                }
            }
            a{ @include link-colors(#c00, $mainColor) };
        }
    }
}
