@import "compass";
@import "lagden/mixin";
@import "blueprint/grid";

body{
    position:relative;
    background-color: #D6D1C8;
    color: $mainColor;
    font-size: #{$fontsize};
    @include fontfamily;
    > header{
        background-color: $darkgray;
        padding:1em;
        hgroup{
            @include media960;
            h1{ @extend .visuallyhidden; }
            h2{ color:white; }
        }
    }
    > nav{
        @include box-shadow(inset 0px -5px 20px 0px rgba(0, 0, 0, .2));
        border-top:5px solid #FFF;
        border-bottom:2px solid #FFF;
        position:relative;
        z-index:1;
        padding-bottom: $navContainer;
        background-color: #ffd547; // Old browsers
        @include filter-gradient(#ffd547, #ffac00, vertical); // IE6-9
        @include background-image(linear-gradient(top,  #ffd547 0%,#ffac00 100%));
        .wrapper{
            position:relative;
            padding:1em;
            @include media960;
            img{
                display:inline-block;
                vertical-align:middle;
                padding:.5em;
            }
            ul.menu{
//                position:absolute;
//                right:20px;
                vertical-align:middle;
                display:inline-block;
                list-style: none;
                li{
                    width:140px;
                    float:left;
                    display:inline;
                    font-size:.8em;
                    margin:0;
                    margin-right:20px;
                    &:last-child{
                        margin-right:0;
                    }
                    a{
                        @extend .btn;
                        padding:0.6em 0.7em 0.6em 0.7em;
                        border:1px solid transparent;
                        font-weight: bold;
                        display: block;
                        float:left;
                        color:#5a5a5a;
                        text-decoration:none;
                        outline:none;
                    }
                }
            }
        }
    }
    > .container{
        @include border-radius(.5em);
        @include single-box-shadow(rgba(0, 0, 0, .5), 0, 0px, 10px);
        background-color:#f1f1f1;
        position:relative;
        z-index:2;
        top:-$navContainer;
        padding:20px 10px 20px 20px;
    }
    
    > footer{
        background: #111;
        border-top: 1px solid #ccc;
        @include single-box-shadow(#111, 0, 4em, 3em, 3.5em);
        color: #ccc;
        padding: 3em 0;
        .wrapper{
            p{
                line-height:normal;
            }
        }
        .meta{
            p{
                border-top: 1px dashed #333;
                padding-top: .5em;
                margin-bottom: .5em;
                &:first-child{
                    border-top: none;
                    padding-top: 0;
                }
            }
            a{ @include link-colors(#c00, $mainColor) };
        }
    }
}

// Listagem dos Imóveis
.listing{
    position: relative;
    > article{
        background-color: #f1f1f1;
        margin-bottom:45px;
        @include column(2);
        &:nth-child(3n){
            @include column(2,true);
        }
        &:nth-of-type(3n+1){
            clear: left;
        }
        .efeito{
            width:240px;
            border:3px solid #FFF;
            margin:0 auto;
            @include border-radius(0 0 .5em .5em);
            @include single-box-shadow(rgba(0, 0, 0, .5), 0, 0px, 10px);
            > table{
                width:100%;
                margin:1em 0;
                font-size:.8em;
                tr{
                    &:nth-child(2n+1){
                        background:#e1e1e1;
                        color:#333;
                    }
                    &:hover{
                      background:#fde3ab;
                      color:#333
                    }
                    td{
                        width:46%;
                        padding:2%;
                        text-align:left;
                        &:last-child{
                            text-align:right;
                        }
                        a{
                            @include hover-link;
                            @include link_colors($mainColor);
                        }
                    }
                }
            }
            header{
                h3{
                    color:#FFF;
                    font-size:.9em;
                    @include border-radius(.5em);
                    padding:.5em;
                    margin-left:5px;
                    margin-right:5px;
                    background-color:#FB0;
                    a{
                        @include ellipsis;
                        @include hover-link;
                        @include link_colors(#FFF);
                        display:block;
                    }
                }
                p{
                    font-size:.8em;
                    background-color:#EEE0C3;
                    color:$mainColor;
                    padding:1em .5em;
                    a{
                        @include ellipsis;
                        @include hover-link;
                        @include link_colors($mainColor);
                        display:block;
                    }
                }
            }
            footer{
                text-align:center;
                margin:1.5em 0;
                a{
                    // @extend .btn.orange;
                    padding:0.6em 0.7em 0.6em 0.7em;
                    border:1px solid transparent;
                    @include border-radius(4px);
                    font-weight: bold;
                    text-decoration:none;
                    outline:none;
                    // color:#FFF;
                }
            }
        }
    }
}

// Form Busca
.frmBusca{
    font-size:.9em;
    ul{
        margin:0;
        padding:0;
        list-style-type:none;
        @extend .clearfix;
        li{
            select{
                width:90%;
            }
        }
    }
    > ul{
        > li{
            margin: 0;
            padding: .25em;
            position: relative;
            > label{
                font-size:.9em;
                display:block;
                font-weight:bold;
            }
            .btn{
                border-style:none;
            }
        }
        ul.radio_list{
            li{
                float:left;
                padding:.5em;
                margin:0;
                label{
                    font-size:.9em;
                }
            }
        }
        ul.checkbox_list{
            li{
                float:left;
                width:48%;
                padding:1%;
                margin:0;
            }
        }
    }
}

#bairros_inline{
    @extend .clearfix;
    font-size:.8em;
    display:none;
    ul.checkbox_list{
        margin:0;
        padding:0;
        list-style-type:none;
        @extend .clearfix;
        li{
            float:left;
            width:48%;
            padding:1%;
            margin:0;
        }
    }
}