# Rsync
rsync_exclude*

# Framework
lib/migration
lib/vendor/symfony
lib/*/doctrine/base/*
lib/*/doctrine/*Plugin/base/*
plugins/*
web/sf
data/sql/schema.sql
test/resources/convert/*

# Project files
cache/*
log/*
config/databases.yml
# web/*_dev.php
tmp/*
web/.sass-cache
web/uploads/*
web/tiny/*
web/estates/*
web/flickr/*
!.htaccess

/vendor/*
composer.lock

npm-debug.log

# Others
cgi-bin
error_log
.DS_Store
thumbs.db
.*.swp
*.tmproj
*.mwb
*.mwb.bak
*.sublime-*
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
.project
*.sql

# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
