// Clearfix
cf()
  &:after
    content ""
    display table
    clear both

unstyledLink()
  color inherit
  text-decoration inherit
  &:active,
  &:focus
      outline none

btn($cor1, $cor2)
  appearance: none
  border: none
  background: $cor1
  border-radius: 5px
  padding: 16px 20px
  color: $cor2
  cursor: pointer
  font-weight: bold
  font-smooth: auto
  &:hover
    background: darken($cor1, 10%)
  &:active,
  &:focus
    outline: none
    background: lighten($cor1, 10%)
  &:disabled
    opacity 0.5

// Fonts
fonts(lista, font)
  if font isnt null
    unshift(lista, font)
  font-family lista

monospace(font = null)
  lista = Consolas, "Liberation Mono", Courier
  fonts(lista, font)

sansSerif(font = null)
  lista = "Helvetica Neue", Helvetica, sans-serif
  fonts(lista, font)

serif(font = null)
  lista = "Times New Roman", Times, serif
  fonts(lista, font)

// Retina
retina()
  @media only screen
    @media (-webkit-min-device-pixel-ratio: 2),
           (min-resolution: dpi2dppx(192dpi))
      {block}

// Animation
keyframes(kf-name)
  vendors = official
  @keyframes {kf-name}
    {block}

// Mixin - Media Queries
mq(min, max = false)
  if max
    @media only screen and (min-width: min) and (max-width: max)
      {block}
  else
    @media only screen and (min-width: min)
      {block}
