$cores = {
  fundo: #2c2c2c
  bloco: #414141
  footer: #3F3F3F
  form: #666
  border: #555
  fonte: #ABABAB
  sol: #F9AE1C
  white: #FFF
  black: #000
  light: #E1E1E1
  bebe: #D6D1C8
  burn: #BB7658
  green: #DFE9BA
  wire: #FFCC00
}

$menuSize = 200