/* line 13, ../sass/screen.scss */
.container {
  background: blue;
  padding: 10px 0px 10px 10px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 17, ../sass/screen.scss */
.container .grid_1 {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 140px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_1 {
  overflow-x: hidden;
}
/* line 19, ../sass/screen.scss */
.container .grid_1:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 140px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_1:last-child {
  overflow-x: hidden;
}
/* line 23, ../sass/screen.scss */
.container .grid_2 {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 300px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_2 {
  overflow-x: hidden;
}
/* line 25, ../sass/screen.scss */
.container .grid_2:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_2:last-child {
  overflow-x: hidden;
}
/* line 29, ../sass/screen.scss */
.container .grid_3 {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_3 {
  overflow-x: hidden;
}
/* line 31, ../sass/screen.scss */
.container .grid_3:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 460px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_3:last-child {
  overflow-x: hidden;
}
/* line 35, ../sass/screen.scss */
.container .grid_4 {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 620px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_4 {
  overflow-x: hidden;
}
/* line 37, ../sass/screen.scss */
.container .grid_4:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_4:last-child {
  overflow-x: hidden;
}
/* line 41, ../sass/screen.scss */
.container .grid_5 {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 780px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_5 {
  overflow-x: hidden;
}
/* line 43, ../sass/screen.scss */
.container .grid_5:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 780px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_5:last-child {
  overflow-x: hidden;
}
/* line 47, ../sass/screen.scss */
.container .grid_6 {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 940px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_6 {
  overflow-x: hidden;
}
/* line 49, ../sass/screen.scss */
.container .grid_6:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 940px;
}
/* line 147, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .grid_6:last-child {
  overflow-x: hidden;
}

/* line 2, ../sass/boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 3, ../sass/boilerplate.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 4, ../sass/boilerplate.scss */
audio:not([controls]) {
  display: none;
}

/* line 5, ../sass/boilerplate.scss */
[hidden] {
  display: none;
}

/* line 8, ../sass/boilerplate.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../sass/boilerplate.scss */
body {
  margin: 0;
}

/* line 12, ../sass/boilerplate.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 14, ../sass/boilerplate.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../sass/boilerplate.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 18, ../sass/boilerplate.scss */
a {
  color: #00e;
}

/* line 19, ../sass/boilerplate.scss */
a:visited {
  color: #551a8b;
}

/* line 20, ../sass/boilerplate.scss */
a:hover {
  color: #06e;
}

/* line 21, ../sass/boilerplate.scss */
a:focus {
  outline: thin dotted;
}

/* line 22, ../sass/boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* line 25, ../sass/boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 26, ../sass/boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 27, ../sass/boilerplate.scss */
blockquote {
  margin: 1em 40px;
}

/* line 28, ../sass/boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 29, ../sass/boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 30, ../sass/boilerplate.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 31, ../sass/boilerplate.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 34, ../sass/boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 37, ../sass/boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 39, ../sass/boilerplate.scss */
q {
  quotes: none;
}

/* line 40, ../sass/boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 42, ../sass/boilerplate.scss */
small {
  font-size: 85%;
}

/* line 44, ../sass/boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 45, ../sass/boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 46, ../sass/boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* line 49, ../sass/boilerplate.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 50, ../sass/boilerplate.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 51, ../sass/boilerplate.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 54, ../sass/boilerplate.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 55, ../sass/boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 58, ../sass/boilerplate.scss */
figure {
  margin: 0;
}

/* line 61, ../sass/boilerplate.scss */
form {
  margin: 0;
}

/* line 62, ../sass/boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 64, ../sass/boilerplate.scss */
label {
  cursor: pointer;
}

/* line 66, ../sass/boilerplate.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 68, ../sass/boilerplate.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 69, ../sass/boilerplate.scss */
button, input {
  line-height: normal;
}

/* line 70, ../sass/boilerplate.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 72, ../sass/boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 73, ../sass/boilerplate.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 74, ../sass/boilerplate.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 76, ../sass/boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 78, ../sass/boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 81, ../sass/boilerplate.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 84, ../sass/boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 85, ../sass/boilerplate.scss */
td {
  vertical-align: top;
}

/* line 3, ../sass/jquery/hugrid.scss */
#hugrid {
  width: 960px;
  /* width of webpage */
  margin-left: -480px;
  /* to center the grid, set half of webpage width as negative value */
}

/* line 8, ../sass/jquery/hugrid.scss */
#hugrid div {
  margin-left: 140px;
  /* width of column */
  width: 24px;
  /* width of column gutter */
}

/* Default Heads-Up Grid Styles - These styles allow you to change the color and style of the lines that make the Heads-Up Grid */
/* line 14, ../sass/jquery/hugrid.scss */
#hugrid div div {
  border-color: #FF00EB;
  /* color of grid line */
  border-style: solid;
  /* style of grid line (dotted, dashed, solid) */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  /*opacity of grid line */
}

/* line 20, ../sass/jquery/hugrid.scss */
#hugrid div:hover {
  background-color: #36F3FF;
  /* color of gutter on :hover */
}

/* line 24, ../sass/jquery/hugrid.scss */
#hugrid div.mline {
  border-color: #AA82FF;
  /* color of margin line */
  border-style: solid;
  /* style of margin lines (dotted, dashed, solid) */
}

/* line 29, ../sass/jquery/hugrid.scss */
#hugridRows {
  border-color: #AA82FF;
  /* color of top margin line */
  border-style: solid;
  /* style of top margin line */
}

/* line 34, ../sass/jquery/hugrid.scss */
#hugridRows div.lineB {
  border-color: #5DFF35;
  /* color of row line */
  border-style: solid;
  /* style of row line */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  /*opacity of row line */
}

/* line 40, ../sass/jquery/hugrid.scss */
#hugridRows div.lineB:hover {
  border-color: #5DFF35;
  /* color of row line on :hover */
  border-style: solid;
  /* style of row line on :hover */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Fixed Styles (No need to alter the below styles for standard grid needs.) */
/* line 47, ../sass/jquery/hugrid.scss */
#hugrid {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 50%;
  height: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  cursor: crosshair;
}

/* line 60, ../sass/jquery/hugrid.scss */
#hugrid div {
  display: block;
  float: left;
  position: relative;
  top: 0;
  border-width: 0;
}

/* line 68, ../sass/jquery/hugrid.scss */
#hugrid div div {
  margin: 0;
  width: 0;
}

/* line 73, ../sass/jquery/hugrid.scss */
#hugrid div div.lineL {
  float: left;
  height: 10000px;
  border-width: 0 0 0 1px;
}

/* line 79, ../sass/jquery/hugrid.scss */
#hugrid div div.lineR {
  float: right;
  height: 10000px;
  border-width: 0 1px 0 0;
}

/* line 85, ../sass/jquery/hugrid.scss */
#hugrid div.mline {
  margin: 0 0 0 -1px;
  width: 0;
  height: 100000px;
}

/* line 91, ../sass/jquery/hugrid.scss */
#hugrid div.mlineL {
  border-width: 0 1px 0 0;
}

/* line 95, ../sass/jquery/hugrid.scss */
#hugrid div.mlineR {
  float: right;
  margin-right: -1px;
  border-width: 0 0 0 1px;
}

/* line 101, ../sass/jquery/hugrid.scss */
#hugrid div:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 106, ../sass/jquery/hugrid.scss */
#hugrid div:hover div.lineL,
#hugrid div:hover div.lineR {
  border-style: solid;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 111, ../sass/jquery/hugrid.scss */
#hugridRows {
  position: absolute;
  z-index: 90000;
  top: -1px;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  border-width: 1px 0 0 0;
  cursor: crosshair;
}

/* line 124, ../sass/jquery/hugrid.scss */
#hugridRows div {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
}

/* line 132, ../sass/jquery/hugrid.scss */
#hugridRows div div.lineB {
  margin: 0;
  border-width: 0 0 1px 0;
}

/* line 137, ../sass/jquery/hugrid.scss */
#hugridUX {
  display: block;
  position: fixed;
  z-index: 200000;
  top: 0;
  left: 0;
  margin: 0;
  padding: 4px;
  font: bold 11px/100% Arial, sans-serif;
  color: #AAA;
  text-align: center;
}

/* line 150, ../sass/jquery/hugrid.scss */
#hugridUX div#hugridButtonBkgd {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -moz-border-radius: 0 0 16px 0;
  -webkit-border-radius: 0 0 16px 0;
  -o-border-radius: 0 0 16px 0;
  -ms-border-radius: 0 0 16px 0;
  -khtml-border-radius: 0 0 16px 0;
  border-radius: 0 0 16px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 162, ../sass/jquery/hugrid.scss */
#hugridUX button#hugridButton {
  cursor: pointer;
  position: relative;
  width: 28px;
  margin: 0;
  padding: 8px 2px;
  background-color: #5DFF35;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  -khtml-border-radius: 40px;
  border-radius: 40px;
  border-width: 0;
  box-shadow: 0 0 2px #666;
  outline: 0;
  font: bold 11px/100% Arial, sans-serif;
}

/* line 176, ../sass/jquery/hugrid.scss */
#hugridUX button#hugridButton::-moz-focus-inner {
  border: 0;
}

/* line 180, ../sass/jquery/hugrid.scss */
#hugridUX button#hugridButton.buttonisoff {
  background: none;
  box-shadow: none;
}

/* line 185, ../sass/jquery/hugrid.scss */
#hugridUX button#hugridButton.buttonisoff:hover {
  background-color: #999;
}

/* line 189, ../sass/jquery/hugrid.scss */
#hugbuttonON {
  color: #333;
}

/* line 193, ../sass/jquery/hugrid.scss */
#hugbuttonOFF {
  color: #333;
}

/* line 3, ../sass/lagden/btn.scss */
.btn, body > nav .wrapper ul.menu li a, .listing > article .efeito footer a {
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.45s;
  -webkit-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
}
/* line 6, ../sass/lagden/btn.scss */
.btn:hover, body > nav .wrapper ul.menu li a:hover, .listing > article .efeito footer a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.1);
}
/* line 17, ../sass/lagden/btn.scss */
.btn.selected, body > nav .wrapper ul.menu li a.selected, .listing > article .efeito footer a.selected {
  color: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
}
/* line 27, ../sass/lagden/btn.scss */
.btn.orange, body > nav .wrapper ul.menu li a.orange, .listing > article .efeito footer a.orange {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  color: #FFF;
  background-color: rgba(255, 182, 0, 0.8);
  -moz-box-shadow: 0 2px 6px rgba(255, 204, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(255, 204, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(255, 204, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
  box-shadow: 0 2px 6px rgba(255, 204, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(255, 255, 0, 0.1);
}
/* line 38, ../sass/lagden/btn.scss */
.btn.orange:hover, body > nav .wrapper ul.menu li a.orange:hover, .listing > article .efeito footer a.orange:hover {
  background-color: #ffcc00;
}

/* line 2, ../sass/lagden/interface.scss */
div.toolTip {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  max-width: 18em;
  padding: .5em;
  z-index: 999;
}
/* line 11, ../sass/lagden/interface.scss */
div.toolTip div.tip-title {
  font-height: normal;
  color: #FFF;
  padding: 0;
  font-size: .9em;
  line-height: 1.2em;
}
/* line 19, ../sass/lagden/interface.scss */
div.toolTip div.tip-text {
  display: none;
}

/* line 23, ../sass/lagden/interface.scss */
.tabs, .pills {
  margin: 0 0 18px;
  padding: 0;
  list-style: none;
  zoom: 1;
}

/* line 32, ../sass/lagden/interface.scss */
.tabs:before,
.pills:before,
.tabs:after,
.pills:after {
  display: table;
  content: "";
  zoom: 1;
}

/* line 37, ../sass/lagden/interface.scss */
.tabs:after, .pills:after {
  clear: both;
}

/* line 40, ../sass/lagden/interface.scss */
.tabs > li, .pills > li {
  float: left;
}

/* line 43, ../sass/lagden/interface.scss */
.tabs > li > a, .pills > li > a {
  display: block;
}

/* line 46, ../sass/lagden/interface.scss */
.tabs {
  border-color: #ddd;
  border-style: solid;
  border-width: 0 0 1px;
}

/* line 51, ../sass/lagden/interface.scss */
.tabs > li {
  position: relative;
  margin-bottom: -1px;
}

/* line 55, ../sass/lagden/interface.scss */
.tabs > li > a {
  padding: 0 15px;
  margin-right: 2px;
  line-height: 34px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* line 64, ../sass/lagden/interface.scss */
.tabs > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  border-color: #eee #eee #ddd;
}

/* line 69, ../sass/lagden/interface.scss */
.tabs .active > a, .tabs .active > a:hover {
  color: #808080;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

/* line 76, ../sass/lagden/interface.scss */
.tabs .menu-dropdown, .tabs .dropdown-menu {
  top: 35px;
  border-width: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

/* line 83, ../sass/lagden/interface.scss */
.tabs a.menu:after, .tabs .dropdown-toggle:after {
  border-top-color: #999;
  margin-top: 15px;
  margin-left: 5px;
}

/* line 88, ../sass/lagden/interface.scss */
.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle {
  border-color: #999;
}

/* line 91, ../sass/lagden/interface.scss */
.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after {
  border-top-color: #555;
}

/* line 94, ../sass/lagden/interface.scss */
.pills a {
  margin: 5px 3px 5px 0;
  padding: 0 15px;
  line-height: 30px;
  text-shadow: 0 1px 1px #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* line 103, ../sass/lagden/interface.scss */
.pills a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #00438a;
}

/* line 109, ../sass/lagden/interface.scss */
.pills .active a {
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #0069d6;
}

/* line 114, ../sass/lagden/interface.scss */
.pills-vertical > li {
  float: none;
}

/* line 120, ../sass/lagden/interface.scss */
.tab-content > .tab-pane,
.pill-content > .pill-pane,
.tab-content > div,
.pill-content > div {
  display: none;
}

/* line 123, ../sass/lagden/interface.scss */
.tab-content > .active, .pill-content > .active {
  display: block;
}

@font-face {
  font-family: "sidewalk";
  src: url('fonts/sidewalk-webfont.eot');
  src: url('fonts/sidewalk-webfont.eot?iefix') format('eot'), url('fonts/sidewalk-webfont.woff') format('woff'), url('fonts/sidewalk-webfont.ttf') format('truetype'), url('fonts/sidewalk-webfont.svg#sidewalk') format('svgm'), url('fonts/sidewalk-webfont.eot?#iefix') format('embedded-opentype');
}

/* line 5, ../sass/lagden/site.scss */
body {
  position: relative;
  background-color: #D6D1C8;
  color: #333333;
  font-size: 100%/1.5;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 11, ../sass/lagden/site.scss */
body > header {
  background-color: #363636;
  padding: 1em;
}
/* line 14, ../sass/lagden/site.scss */
body > header hgroup {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 17, ../sass/lagden/site.scss */
body > header hgroup h2 {
  color: white;
}
/* line 20, ../sass/lagden/site.scss */
body > nav {
  -moz-box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
  border-top: 5px solid #FFF;
  border-bottom: 2px solid #FFF;
  position: relative;
  z-index: 1;
  padding-bottom: 69px;
  background-color: #ffd547;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFD547', endColorstr='#FFFFAC00');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd547), color-stop(100%, #ffac00));
  background-image: -webkit-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: -moz-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: -o-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: -ms-linear-gradient(top, #ffd547 0%, #ffac00 100%);
  background-image: linear-gradient(top, #ffd547 0%, #ffac00 100%);
}
/* line 30, ../sass/lagden/site.scss */
body > nav .wrapper {
  position: relative;
  padding: 1em;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 34, ../sass/lagden/site.scss */
body > nav .wrapper img {
  display: inline-block;
  vertical-align: middle;
  padding: .5em;
}
/* line 39, ../sass/lagden/site.scss */
body > nav .wrapper ul.menu {
  vertical-align: middle;
  display: inline-block;
  list-style: none;
}
/* line 45, ../sass/lagden/site.scss */
body > nav .wrapper ul.menu li {
  width: 140px;
  float: left;
  display: inline;
  font-size: .8em;
  margin: 0;
  margin-right: 20px;
}
/* line 52, ../sass/lagden/site.scss */
body > nav .wrapper ul.menu li:last-child {
  margin-right: 0;
}
/* line 55, ../sass/lagden/site.scss */
body > nav .wrapper ul.menu li a {
  padding: 0.6em 0.7em 0.6em 0.7em;
  border: 1px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  display: block;
  float: left;
  color: #5a5a5a;
  text-decoration: none;
  outline: none;
}
/* line 71, ../sass/lagden/site.scss */
body > .container {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1;
  position: relative;
  z-index: 2;
  top: -69px;
  padding: 20px 10px 20px 20px;
}
/* line 81, ../sass/lagden/site.scss */
body > footer {
  background: #111;
  border-top: 1px solid #ccc;
  -moz-box-shadow: 0 4em 3em 3.5em #111111;
  -webkit-box-shadow: 0 4em 3em 3.5em #111111;
  -o-box-shadow: 0 4em 3em 3.5em #111111;
  box-shadow: 0 4em 3em 3.5em #111111;
  color: #ccc;
  padding: 3em 0;
}
/* line 88, ../sass/lagden/site.scss */
body > footer .wrapper p {
  line-height: normal;
}
/* line 93, ../sass/lagden/site.scss */
body > footer .meta p {
  border-top: 1px dashed #333;
  padding-top: .5em;
  margin-bottom: .5em;
}
/* line 97, ../sass/lagden/site.scss */
body > footer .meta p:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 102, ../sass/lagden/site.scss */
body > footer .meta a {
  color: #cc0000;
}
/* line 24, /usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body > footer .meta a:hover {
  color: #333333;
}

/* line 108, ../sass/lagden/site.scss */
.listing {
  position: relative;
}
/* line 110, ../sass/lagden/site.scss */
.listing > article {
  background-color: #f1f1f1;
  margin-bottom: 45px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 300px;
}
/* line 147, /usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .listing > article {
  overflow-x: hidden;
}
/* line 114, ../sass/lagden/site.scss */
.listing > article:nth-child(3n) {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 147, /usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .listing > article:nth-child(3n) {
  overflow-x: hidden;
}
/* line 117, ../sass/lagden/site.scss */
.listing > article:nth-of-type(3n+1) {
  clear: left;
}
/* line 120, ../sass/lagden/site.scss */
.listing > article .efeito {
  width: 240px;
  border: 3px solid #FFF;
  margin: 0 auto;
  -moz-border-radius: 0 0 0.5em 0.5em;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  -o-border-radius: 0 0 0.5em 0.5em;
  -ms-border-radius: 0 0 0.5em 0.5em;
  -khtml-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}
/* line 126, ../sass/lagden/site.scss */
.listing > article .efeito > table {
  width: 100%;
  margin: 1em 0;
  font-size: .8em;
}
/* line 131, ../sass/lagden/site.scss */
.listing > article .efeito > table tr:nth-child(2n+1) {
  background: #e1e1e1;
  color: #333;
}
/* line 135, ../sass/lagden/site.scss */
.listing > article .efeito > table tr:hover {
  background: #fde3ab;
  color: #333;
}
/* line 139, ../sass/lagden/site.scss */
.listing > article .efeito > table tr td {
  width: 46%;
  padding: 2%;
  text-align: left;
}
/* line 143, ../sass/lagden/site.scss */
.listing > article .efeito > table tr td:last-child {
  text-align: right;
}
/* line 146, ../sass/lagden/site.scss */
.listing > article .efeito > table tr td a {
  text-decoration: none;
  color: #333333;
}
/* line 4, /usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.listing > article .efeito > table tr td a:hover {
  text-decoration: underline;
}
/* line 154, ../sass/lagden/site.scss */
.listing > article .efeito header h3 {
  color: #FFF;
  font-size: .9em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: .5em;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #FB0;
}
/* line 162, ../sass/lagden/site.scss */
.listing > article .efeito header h3 a {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
  text-decoration: none;
  color: white;
  display: block;
}
/* line 4, /usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.listing > article .efeito header h3 a:hover {
  text-decoration: underline;
}
/* line 169, ../sass/lagden/site.scss */
.listing > article .efeito header p {
  font-size: .8em;
  background-color: #EEE0C3;
  color: #333333;
  padding: 1em .5em;
}
/* line 174, ../sass/lagden/site.scss */
.listing > article .efeito header p a {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
  text-decoration: none;
  color: #333333;
  display: block;
}
/* line 4, /usr/local/rvm/gems/ruby-1.9.3-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.listing > article .efeito header p a:hover {
  text-decoration: underline;
}
/* line 182, ../sass/lagden/site.scss */
.listing > article .efeito footer {
  text-align: center;
  margin: 1.5em 0;
}
/* line 185, ../sass/lagden/site.scss */
.listing > article .efeito footer a {
  padding: 0.6em 0.7em 0.6em 0.7em;
  border: 1px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: #FFF;
}

/* line 5, ../sass/nonSemanticHelper.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 7, ../sass/nonSemanticHelper.scss */
.ir br {
  display: none;
}

/* line 11, ../sass/nonSemanticHelper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 14, ../sass/nonSemanticHelper.scss */
.visuallyhidden, body > header hgroup h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 19, ../sass/nonSemanticHelper.scss */
.visuallyhidden.focusable:active, body > header hgroup h1.focusable:active, .visuallyhidden.focusable:focus, body > header hgroup h1.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 26, ../sass/nonSemanticHelper.scss */
.invisible {
  visibility: hidden;
}

/* line 29, ../sass/nonSemanticHelper.scss */
.clearfix {
  zoom: 1;
}
/* line 31, ../sass/nonSemanticHelper.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 35, ../sass/nonSemanticHelper.scss */
.clearfix:after {
  clear: both;
}
