$transitionTime = 1
$colorBurger = #FFFFFF
$distBurger = 7

$width = 24
$height = 24
$size = 3

.burger
  box-sizing border-box
  background none
  padding 0
  margin 0
  margin-right 10px
  border 0
  width $width * 2px
  height $height * 2px
  position relative
  transform: translateY(2px)
  &:focus,
  &:active,
  &:hover
    background none

.burger__icon
  margin auto
  top 0
  left 0
  right 0
  bottom 0
  position absolute
  width $width * 1px
  height $size * 1px
  background-color rgba($colorBurger, 1)
  backface-visibility hidden
  will-change background-color

  &:before,
  &:after
    content ''
    margin auto
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
    position absolute
    background-color $colorBurger
    transform-origin 50% 50%
    backface-visibility hidden
    will-change transform
  &:before
    transform translateY($distBurger * -1px)
  &:after
    transform translateY($distBurger * 1px)

.burger
  &.close
    > .burger__icon
      background-color rgba($colorBurger, 1)
      transition background-color 0s ($transitionTime / 2s)

      &:before
        animation: oA ($transitionTime * 1s)
        animation-fill-mode forwards

      &:after
        animation: oB ($transitionTime * 1s)
        animation-fill-mode forwards

  &.open
    > .burger__icon
      background-color rgba($colorBurger, 0)
      transition background-color 0s ($transitionTime / 2s)

      &:before
        animation: xA ($transitionTime * 1s)
        animation-fill-mode forwards

      &:after
        animation: xB ($transitionTime * 1s)
        animation-fill-mode forwards


@keyframes xA
  0%
    transform translateY($distBurger * -1px)
  50%
    transform translateY(0) rotate(0deg)
  100%
    transform rotate(45deg)

@keyframes xB
  0%
    transform translateY($distBurger * 1px)
  50%
    transform translateY(0) rotate(0deg)
  100%
    transform rotate(-45deg)

@keyframes oA
  0%
    transform rotate(45deg)
  50%
    transform translateY(0) rotate(0deg)
  100%
    transform translateY($distBurger * -1px)

@keyframes oB
  0%
    transform rotate(-45deg)
  50%
    transform translateY(0) rotate(0deg)
  100%
    transform translateY($distBurger * 1px)
