.consulta__main
  position relative
  margin 5px
  flex 1 1 calc(100% - 10px)
  +mq(500px, 767px)
    flex 1 1 calc(50% - 10px)
  +mq(768px, 1024px)
    flex 1 1 calc(33.33% - 10px)
  +mq(1025px)
    flex 1 1 calc(16.66% - 10px)

.consulta__main--first
  +mq(500px, 767px)
    flex 1 1 calc(100% - 10px)

.consulta__item
  position relative
  margin 5px
  flex 1 1 calc(50% - 10px)
  +mq(768px, 1024px)
    flex 1 1 calc(33.33% - 10px)
  +mq(1025px)
    flex 1 1 calc(16.66% - 10px)

.btn--drop
  width 100%
  background-color: $cores.form
  &:hover
    background-color: darken($cores.form, 10%)
  &:active,
  &:focus
    outline: none
    background-color: lighten($cores.form, 10%)
  &.is-visible
    background-color: $cores.sol
  > span:last-child
    font-size 0.8em

.opts
  position absolute
  top auto
  left auto
  right auto
  min-width 30px
  background: rgba($cores.black, 0.75)
  color white
  display block
  margin 0
  padding 0
  border none
  border-radius 2px
  opacity 0
  z-index 999
  transform scale(0) translateY(0)
  transform-origin 0 0
  will-change transform, opacity
  transition transform 0.5s, opacity 0.5s
  &:before
    border-width 0 10px 10px 10px
    border-color: transparent transparent rgba($cores.black, 0.75)
    border-style solid
    content ''
    position absolute
    margin-top -10px
    margin-left 15px
    width 0px
    height 0px

  .btn--drop.is-visible ~ &
    opacity 1
    transform scale(1) translate(5px, 5px)

  > ul
    display inline-block
    list-style none
    height auto
    width auto
    min-width 124px
    padding 0
    margin 0
    > li
      padding .5em 15px
      display block

.opts--min
  min-width 280px

.btn--submit
  margin 5px
  width calc(100% - 10px)
  +mq(500px, 767px)
    width calc(50% - 10px)
  +mq(768px, 1024px)
    width calc(33.33% - 10px)
  +mq(1025px)
    width calc(16.66% - 10px)

.referencia--item
  margin 5px
  width calc(100% - 10px)
  +mq(500px, 767px)
    width calc(50% - 10px)
  +mq(768px)
    width calc(33.33% - 10px)

.btn--submit-ref
  margin 5px
  width calc(100% - 10px)
  +mq(500px, 767px)
    width calc(50% - 10px)
    padding 0 !important
  +mq(768px)
    width calc(16.66% - 10px)
    padding 0 !important