.bloco
  margin 30px 0
  padding 20px 0
  background-color: $cores.bloco

.icon
  display: inline-block
  width: 3em
  height: 3em
  vertical-align middle
  button > &
    fill: #FFF
  & + span
    display: block
    margin 5px

.consulta__item
  position relative
  margin 5px
  flex 1 1 calc(50% - 10px)
  +mq(768px, 1024px)
    flex 1 1 calc(33.33% - 10px)
  +mq(1025px)
    flex 1 1 calc(16.66% - 10px)

.btn-drop
  width 100%
  &.is-visible
    background: darken($cores.sol, 30%)

.opts
  position absolute
  top auto
  left auto
  right auto
  min-width 30px
  background: rgba($cores.form, 0.9)
  color white
  display block
  margin 0
  padding 0
  border none
  border-radius 2px
  opacity 0
  z-index 999
  transform scale(0) translateY(0)
  transform-origin 0 0
  will-change transform, opacity
  transition transform 0.5s, opacity 0.5s

  &::before
    border-width 0 10px 10px 10px
    border-color: transparent transparent rgba($cores.form, 0.9)
    border-style solid
    content ''
    position absolute
    margin-top -10px
    margin-left 15px
    width 0px
    height 0px
  .btn-drop.is-visible ~ &
    opacity 1
    transform scale(1) translate(5px, 5px)

  > ul
    display inline-block
    list-style none
    height auto
    width auto
    min-width 124px
    padding 0
    margin 0
    > li
      padding .5em 15px
      display block

.opts--min
  min-width 280px
