.estate-show
  stack()
  +above(768px)
    col(8/12)

  > h2
    courgette()
    color: $cores.sol

  > h3,
  > small
    color: $cores.white

  > small
    font-size: 1.1em

.estate-show--destaque
  padding: 5px
  display: inline-block
  line-height: 1.5em
  margin: 0
  color: $cores.white
  margin-bottom 5px
  width 100%
  box-sizing border-box
  +above(768px)
    width auto
    margin-right 10px

.icon--estate--show
  width: 2em
  height: 2em
  fill: $cores.white
  +above(400px)
    width: 3em
    height: 3em

.estate-contato
  stack()
  +above(768px)
    col(4/12)

  > h2
    courgette()
    color: $cores.sol

.estate-back__btn
  text-align right
