.frm
  button
    border: none
    background: $cores.sol
    border-radius: .25em
    padding: 16px 20px
    color: $cores.white
    font-weight: bold
    cursor: pointer
    font-smooth: auto
    appearance: none
    &:hover
      background: lighten($cores.sol, 10%)
    &:active,
    &:focus
      outline: none
      background: darken($cores.sol, 30%)

  input[type="checkbox"]
    transform translateY(2px)
