.home-gallery
  overflow: hidden
  height 400px
  img
    display block
    height 400px

.static-banner--home
  position absolute
  bottom 0
  box-sizing border-box
  padding 20px
  margin 0
  color: $cores.white
  background: rgba($cores.black, 0.3)
  width 100%
  z-index 100
  pointer-events: none

.gallery__caption
  display none

.estate-gallery
  overflow: hidden
  height 200px
  img
    display block
    height 200px