$logobrenoSmall = @block {
  width: 126px
  height: 66px
  background-size: 126px 66px
  image: '/images/logo.png' 126px 66px
}

.logo-breno
  display block
  text-indent: 200%
  white-space: nowrap
  overflow: hidden
  width 190px
  height 100px
  cursor pointer
  image '/images/logo.png' 190px 100px
  +below(880px)
    {$logobrenoSmall}
  &.logo-breno--in
    {$logobrenoSmall}

.bar
  display none
  +below(880px)
    display block

.nav--header
  +below(880px)
    display none

.nav--out
  display none
  z-index 1001
  position fixed
  top: 0
  bottom: 0
  right: 0
  left auto
  width $menuSize * 1px
  height 100%
  transform translateX($menuSize * 1px)
  overflow-y auto
  background: $cores.black
  &.open
    transform translateX(0)
  +below(880px)
    display block

.navbar__ul
  position relative
  padding 0
  margin 0
  list-style none
  text-align right
  > li
    display inline-block
    padding 5px
    > a
      color: $cores.white
      backface-visibility hidden
      will-change border-color
      transition 0.5s border-color
      border 2px solid transparent
      border-radius 5px
      display block
      padding 10px
      &.active,
      &:hover
        border-color: $cores.white
    +below(880px)
      display block
      padding 5px 10px
      &:first-child
        padding-top 10px

body
  &.open
    overflow: hidden

.header
  width 100%
  box-sizing border-box
  padding 5px
  position absolute
  z-index 1000
  display flex
  flex-wrap nowrap
  justify-content space-between
  align-items center
  &.open,
  &.open ~ main
    transform translateX($menuSize * -1px)

.header--in
  background: $cores.sol
  position relative
  margin-bottom: 10px
  border-bottom: 5px solid $cores.border

.header__title
  margin 0
  padding 0

.header__bg
  background: rgba($cores.sol, 0.8);
  width 100%
  height 65px
  display block
  position absolute
  margin: auto
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: -1
  +below(880px)
    height (65 / 1.5) * 1px

.header__burger
  display none
  +below(880px)
    display block

.header,
.navbar,
main
  transition transform 0.3s ease-out
