// Accordion
#accordionFormResult{
    > h2{
        border: 1px solid rgb(248, 181, 0);
        background:rgb(244, 183, 78);
        &.hover{
            color:#000;
            border: 1px solid rgb(221, 221, 221);
            background:rgb(249,218,131);
        }
        &.ativo{
            color:#000;
            background:rgb(249,218,131);
            border: 1px solid rgb(221, 221, 221);
        }
    }
}