// @import "compass/reset";
@import "compass";
@import "blueprint/grid";

// vars and mixins
@import "lagden/mixin";

.container{
    background:blue;
    padding:10px 0px 10px 10px;
    @include container;

    $i: $blueprint_grid_columns;
    @while $i > 0 {
        .grid_#{$i} {
            // background:red;
            @include column($i);
            &:last-child{
                @include column($i,true);
            }
        }
        $i: $i - 1;
    }
}

// https://github.com/h5bp/html5-boilerplate
@import "boilerplate";

// jQuery plugins - Fancybox 2 - http://fancyapps.com/fancybox/
@import "jquery/fancybox.2";

// jQuery plugins - HeadsUp Grid - http://bohemianalps.com/tools/grid/
@import "jquery/hugrid";

// Helper de Grid para designer
// @import "lagden/grid";

// Site
@import "lagden/btn";
@import "lagden/interface";
@import "lagden/site";

// Media Queries
@import "lagden/mediaQueries";

// Non-semantic helper classes - https://github.com/h5bp/html5-boilerplate
@import "nonSemanticHelper";